<h1><%= pluralize(@movies.size, 'Movie') %></h1>

<% @movies.each do |movie| %>
  <p>
    <article>
      <header>
        <%= image_for movie %>
        <h1><%= link_to movie.title, movie %></h1>
        <h3><%= movie.cast %></h3>
        <p><%= truncate(movie.description, :length => 40, :separator => ' ') %></p>
      </header>
      Released:
      <%= movie.released_on.to_s + ' (' + time_ago_in_words(movie.released_on) +')' %>
      Rating:
      <%= movie.rating %>
      Total Gross:
      <%= format_total_gross(movie) %>
      Duration:
      <%= movie.duration %>
      Cast:
      <%= movie.cast %>
    </article>
  </p>
<% end %>