<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<% unless flash.empty? %>
  <div class='flash'>
    <% if flash[:notice] %>
      <div class='notice'>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class='alert'>
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
<% end %>

<%= yield %>
<%= render 'layouts/sidebar' %>
<%= render 'layouts/footer' %>
</body>
</html>
